*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(100deg, #ffa500, #4c9a2a);
    

}

/* yläosa */

nav{
    background-color: rgb(129, 207, 83);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;

}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover{
    background-color: rgba(214, 159, 56, 0.438);
}

nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(129, 205, 83, 0.705);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.sidebar li{
    width: 100%;

}

.sidebar a{
    width: 100%;
}

.menu-button{
    display: none;
}



/* etusivu */


.Etusivuteksti {
    font-size: 4vw;
    text-align: center;
  }

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

div.etusivu {
height: 1000px;

}

video {
    object-fit: fill;
    width: 99vw;
    height: 100vh;
    max-height: 950px;
    position: relative;
    top: 0;
    left: 0;
    opacity: 25%;
}

/* Ohjelmat ja liikkeet */

div.ohjelmat{
    height: auto;
    max-width: 100vw;
    margin: 25px 25px 25px 25px;
    padding: 25px 25px 25px 25px;
}

.ohjelmatIsoTeksti{
    text-align: center;
    border: solid black;
    margin-bottom: 15px;
    

}


/* kaikki kuvat mitä käytetään ohjelma sivulla*/
.kuva1, .kuva2, .kuva3, .kuva4, .kuva5, .kuva6 {
    width: 250px;
    height: auto;
    min-width: 10vw;
    padding-bottom: 25px;
    display: block;
    


}
/* kaikki tekstit mitä käytetään ohjelmat sivulla*/
.ohjeteksti{
    font-family: sans-serif;
    padding-bottom: 10px;

}


.ohjelmat {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(250px,32%));
    grid-column: 2;
    gap: 1rem;
    align-self: center;
      
}
/* koitin keskittää luvat tällä mutta en löytänyt miten se tehtäisiin 
.grid-item img{
     
}*/

/* kuvat ohjeisiin 1-6
.kuva1 {
    left:50px;
    top: 1200px;
    position:absolute
}

.kuva2 {
    left: 50px;
    top: 1450px;
    position:absolute;
}

.kuva3 {
    left: 50px;
    top: 1700px;
    position:absolute;
}

.kuva4 {
    left:700px;
    top: 1200px;
    position:absolute
}

.kuva5 {
    left:700px;
    top: 1450px;
    position:absolute
}

.kuva6 {
    left:700px;
    top: 1700px;
    position:absolute
}
/* iso teksti ohjeisiin 1-6
.ohje1 {
    top: 1200px;
    left: 275px;
    position: absolute
} 

.ohje2 {
    top: 1450px;
    left: 275px;
    position: absolute;
} 

.ohje3 {
    top: 1700px;
    left: 275px;
    position: absolute;
} 

.ohje4 {
    top: 1200px;
    left: 925px;
    position: absolute
} 

.ohje5 {
    top: 1450px;
    left: 925px;
    position: absolute
} 

.ohje6 {
    top: 1700px;
    left: 925px;
    position: absolute
} 
/* pieniteksti ohjeisiin 1-6
.ohjeselitys1 {
    top: 1225px;
    left: 275px;
    position: absolute;
}
.ohjeselitys2 {
    top: 1475px;
    left: 275px;
    position: absolute;
}
.ohjeselitys3 {
    top: 1725px;
    left: 275px;
    position: absolute;
}
.ohjeselitys4 {
    top: 1225px;
    left: 925px;
    position: absolute;
}
.ohjeselitys5 {
    top: 1475px;
    left: 925px;
    position: absolute;
}
.ohjeselitys6 {
    top: 1725px;
    left: 925px;
    position: absolute;
}
*/


/* ruokavinkit ja reseptit */

div.Ruokavinkit {
    height: 920px;
    max-width: 100vw;
    background: linear-gradient(100%, #b17c1b, #77ee45)
}
.ruokavinkitIsoTeksti {
    text-align: center;


}


/*Kalenteri*/

div.Kalenteri {
    height: 920px;
    max-width: 100vw;

}

.kalenteriIsoTeksti{
    text-align: center;
}

/*Blogi*/
div.Blogi{
    height: 920px;
    max-width: 100vw;
}

.blogiIsoTeksti{
    text-align: center;
}
/* media */
@media (max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}


@media (max-width: 400px){
    .sidebar{
        width: 100%;
    }
}