body{
    background: linear-gradient(100deg, #ffa500, #4c9a2a)
}

/* ylä osa */

div.ylaosa {
    margin: 5px;
    border-style: solid;
    display:table;
    width: 100%;
   
}

.ylapainikkeet {
    float: right;
     
}

/* etusivu */

.Etusivuteksti {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

  }

.overlay {
 position: absolute;
 width: 100%;
 height: 100%;
 bottom: 0;
 left: 0;
}

div.etusivu {
border-style: solid;
height: 950px;
width: 100%;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    opacity: 25%;

}
/* Ohjelmat ja liikkeet */
div.ohjelmat{
    border-style: solid;
    height: 920px;
    width: 100%;
    background: linear-gradient(100deg, #59c21c, #e4a216)
}

.ohjelmatIsoTeksti{
    text-align: center;
}
/* ruokavinkit ja reseptit */
div.Ruokavinkit {
    border-style: solid;
    height: 920px;
    width: 100%;
    background: linear-gradient(100deg, #b17c1b, #77ee45)
}
.ruokavinkitIsoTeksti {
    text-align: center;
}